img {
    width: 300px;
}

body {
    text-align: center;
    font-family: Inter, sans-serif;
    background-color: black;
    color: white;
}

.link-style1 {
    color: blue;
    text-decoration: underline;
}

.link-style1:visited {
    color: blueviolet;
    text-decoration: underline;

}

.link-style1:hover {
    color: darkblue;
    text-decoration: underline;
    font-weight: bolder;
}